.builder-input-container {
  height: max-content;
  overflow: hidden;
  position: relative;
}

.large {
  height: 1000px;
  width: 100%;
}

.editing-contain {
  width: auto;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: visible;
  align-items: center;
  flex-wrap: nowrap;
}

.spacer {
  flex-grow: 1;
}

.submit-container {
  position: relative;
  background-color: red;
}

.submit-button{
  position: absolute;
  right: 0;
}

.editable {
  max-width: 100%;
  border: 3px solid transparent;
  //border-radius: 4px;
  //margin: 5px;
  &:hover {
    outline-offset:3px; 
    border: 3px dotted #CB9AEE99;
  }
}

.overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #CB9AEE
}

.overlay-section-tool1 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #CB9AEE
}

.overlay-section-tool2 {
  position: absolute;
  top: 20px;
  right: 60px;
  color: #CB9AEE
}

.editable-container{
  position: relative;
  width: fit-content;
  height: fit-content;
}

.hidden{
  display: none;
}

.hidden-trigger{
  position: relative;
}

.hidden-trigger:hover .hidden {
  display: block;
}

.hidden-trigger:hover+.hidden {
  display: block;
}

.hidden-container{
  display: none;
}

.hidden-container-trigger{
  position: relative;
}

.hidden-container-trigger:hover .hidden-container {
  display: block;
}

.hidden-trigger:hover+.hidden-container {
  display: block;
}
