.builder-input-container {
  height: max-content;
  overflow: hidden;
  position: relative;
}

.large {
  height: 1000px;
  width: 100%;
}

.editing-contain {
  width: auto;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: visible;
  align-items: center;
  flex-wrap: nowrap;
}

.spacer {
  flex-grow: 1;
}

.submit-container {
  position: relative;
  background-color: red;
}

.submit-button{
  position: absolute;
  right: 0;
}

.editable {
  max-width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  &:hover {
    border: 1px solid #b364bd;
  }
}

.text-input{

}

.text-area{

}

.overlay {
  position: absolute;
  top: 0px;
  right: 0px;
}

.hidden{
  display: none;
}

.editable-container{
  position: relative;
  width: fit-content;
  height: fit-content;
}

.hidden-trigger{
  position: relative;
}

.hidden-trigger:hover .hidden {
  display: block;
}

.hidden-trigger:hover+.hidden {
  display: block;
}