/*
.section {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--mantine-color-white);
  margin: 0;
  padding: 0;
}
*/
 
/*
.section{
  position: relative;
  padding-inline: var(--property-page-padding);
  padding-top: 80px;
  width: 100%;
  max-width: 100%;
}

.section-container{
  position: relative;
  padding-inline: var(--property-page-padding);
  width: 100%;
  max-width: 100%;
}

.section-title {
  font-size: 2.3em;
  font-weight: 600;
  max-width: 800px;
  width: 800px;
  color: var(--mantine-color-white);
}
*/

.itemDragging {
  box-shadow: var(--mantine-shadow-sm);
}

.section-hero-title {
  font-size: 2.3em;
  font-weight: 600;
  max-width: 800px;
  width: 800px;
  color: var(--mantine-color-white);
}

.section-hero-description{
  font-size: 1.1em;
  max-width: 800px;
  color: var(--mantine-color-white);
}

.section-hero-logo {
  height: auto;   
  object-fit: contain;
  border: 1px solid transparent;
  border-radius: 4px;
  &:hover {
    border: 1px solid #d0d0d0;
  }
}

.section-hero-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hidden{
  display: none;
}

.hidden-trigger:hover .hidden {
  display: block;
}

.section-hero-logo-container{
  position: relative;
  top: 0;
  width:300px;
}
