.cards {
  align-items: flex-end;
  background-color: black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  font-family: Inter, "DM Sans", "Helvetica Neue", helvetica, sans-serif;
  gap: 30px;
  justify-content: center;
  padding: 20px;

  &--mobile {
    border-radius: 20px;
    margin: 20px auto;
    margin-inline: auto;
    max-height: 500px;
    overflow-y: auto;
    padding-top: 30px;
    scrollbar-color: #343434 #141414;
    scrollbar-width: thin;
    width: 350px;

    ::-webkit-scrollbar {
      opacity: 1;
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      background: #333;
      opacity: 1;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #555;
      border-radius: 100px;
      opacity: 1;
    }
  }
}

.discover-cards {
  background-color: #2c2c2c;
  padding: 50px 0;
}

.card {
  --base-card-width: 300px;
  --transition-duration: 0.5s;
  --brightness--inactive: 85%;
  --brightness--active: 105%;
  --scale: 1.05;

  color: white;
  cursor: pointer;
  max-width: var(--card-width);
  transition: all var(--transition-duration) ease;
  width: var(--card-width);
  will-change: transform;

  * {
    background-clip: padding-box;
    transition: all var(--transition-duration) ease;
  }

  // Disable default transitions on mobile
  &--mobile {
    --brightness--inactive: 100%;
    --brightness--active: 100%;
    --scale: 1;
  }

  /* Aspect Ratios */

  &--landscape {
    --card-width: var(--base-card-width);

    .card__image-container,
    .card__image {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    --card-width: calc(var(--base-card-width) - 75px);

    .card__image-container,
    .card__image {
      aspect-ratio: 1;
    }

    .card__image-container,
    .card__image-container::before,
    .card__image-container::after,
    .card__image {
      border-radius: var(--square-border-radius);
    }

    .card__text {
      text-align: center;
    }
  }

  &--portrait {
    --card-width: calc(var(--base-card-width) - 75px);

    .card__image-container,
    .card__image {
      aspect-ratio: 3/4;
    }

    .card__text {
      text-align: center;
    }
  }

  /* Effects */

  &.card--effect-desaturate {
    .card__image-container {
      filter: brightness(var(--brightness--inactive)) saturate(0%);
    }

    &:hover,
    &:focus-visible,
    &.card--active {
      .card__image-container {
        filter: brightness(var(--brightness--active)) saturate(100%);
      }
    }
  }

  &.card--effect-desaturate-image {
    .card__image {
      filter: brightness(var(--brightness--inactive)) saturate(0%);
    }

    &:hover,
    &:focus-visible,
    &.card--active {
      .card__image {
        filter: brightness(var(--brightness--active)) saturate(100%);
      }
    }
  }

  &.card--effect-desaturate-background {
    .card__image-container {
      background: black;
    }

    .card__image-container::before {
      filter: saturate(0%);
    }
  }

  /* Hover/Active State */

  &:hover,
  &:focus-visible,
  &--active {
    transform: scale3d(var(--scale), var(--scale), 1);

    --background-gradient-angle: var(--background-gradient-angle--active);

    .card__image-container {
      border: var(--border-width) solid var(--border-color--active);
      filter: brightness(var(--brightness--active));

      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &__image-container,
  &__image {
    width: 100%;
  }

  &__image-container {
    border: var(--border-width) solid var(--border-color--inactive);
    border-radius: var(--border-radius);
    display: flex;
    filter: brightness(var(--brightness--inactive));
    overflow: hidden;
    position: relative;
    z-index: 0;

    &::after,
    &::before {
      background: yellow;
      content: "";
      inset: 0;
      position: absolute;
      transition: opacity var(--transition-duration) ease;
      z-index: -1;
    }

    &::after {
      background: linear-gradient(var(--background-gradient-angle--active), var(--background-color--active), var(--background-color-2--active));
      opacity: 0;
    }

    &::before {
      background: linear-gradient(var(--background-gradient-angle--inactive), var(--background-color--inactive), var(--background-color-2--inactive));
      opacity: 1;
    }
  }

  &__image {
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }

  &__text {
    padding: 4px;
    user-select: none;
  }

  &__title {
    font-weight: 700;
  }

  &__subtitle {
    color: #a6a6a6;
    font-size: 15px;
  }
}

.discover-page {
  animation: var(--animation-fade-in) 1s ease;
  background: #191919;
  min-height: var(--property-full-content-height);
  padding-bottom: 100px;
}

.row {
  padding: 30px;

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

.featured {
  background: linear-gradient(180deg, #171717 0%, #2C2C2C 100%);
  padding-bottom: 55px;
}

.carousel {
  overflow: initial;

  :global(.swiper-pagination) {
    bottom: -35px;
  }
}

.slide {
  width: max-content;
}

.discover-card {
  --transition-duration: 0.5s;
  --brightness--inactive: 85%;
  --brightness--active: 105%;
  --scale: 1.05;

  aspect-ratio: 2/3;
  background-color: black;
  border-radius: 12px;
  cursor: pointer;
  display: block;
  height: 400px;
  position: relative;
  transition: all var(--transition-duration) ease;
  transition-delay: 0s;
  user-select: none;
  will-change: transform;

  &--featured {
    height: 600px;

    .discover-card__inaccessible-message {
      font-size: 32px;
      padding-bottom: 75px;
    }
  }

  &--standard {
    filter: brightness(var(--brightness--inactive));
  }

  &--inaccessible {
    cursor: default;
  }

  &__inaccessible-message {
    align-items: center;
    background: rgb(0 0 0 / 50%);
    border-radius: 12px;
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    inset: 0;
    justify-content: center;
    opacity: 0;
    padding-inline: 20px;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    white-space: pre-wrap;
    z-index: 10;
  }

  * {
    transition: all var(--transition-duration) ease;
    transition-delay: 0s;
  }

  &__image-container,
  &__image,
  &__video {
    border-radius: 12px;
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }

  &__video {
    pointer-events: none;
    z-index: 1;

    video {
      border-radius: 12px;
      object-fit: cover;
    }
  }

  &__content {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    inset: 0;
    justify-content: flex-end;
    padding: 40px 50px 0;
    position: absolute;
    text-align: center;
    z-index: 2;

    * {
      color: white;
      z-index: 1;
    }

    &::before {
      background: linear-gradient(transparent 30%, black);
      border-radius: 12px;
      content: "";
      inset: 0;
      position: absolute;
    }
  }

  &__logo-container {
    align-items: center;
    aspect-ratio: 3;
    display: flex;
    justify-content: center;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }

  &__logo {
    margin-bottom: 10px;
    max-width: 100%;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    white-space: nowrap;
  }

  &__description {
    align-items: flex-start;
    display: flex;
    font-size: 16px;
    max-height: 100px;
    min-height: 100px;
  }

  &__button-container {
    display: flex;
    height: 40px;
    justify-content: center;
    overflow: hidden;
    padding-top: 40px;
  }

  &__button {
    align-items: center;
    background-color: #cbcbcb;
    border-radius: 10px;
    color: black;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    height: 45px;
    justify-content: center;
    transition-delay: 0s!important;
    width: 100px;

    &:hover,
    &:focus-visible {
      &:not(&:active) {
        background-color: white;
      }
    }
  }

  @media screen and (width > 850px) {
    // Only transition on non-mobile
    &:hover,
    &:focus-visible {
      transform: scale3d(var(--scale), var(--scale), 1);

      &.discover-card--featured {
        transition-delay: 0.25s;

        * {
          transition-delay: 0.25s;
        }
      }

      &.discover-card--standard {
        filter: brightness(var(--brightness--active));
      }

      &:not(.discover-card--inaccessible) {
        .discover-card__button-container {
          height: 100px;
          padding: 15px 0 20px;
        }
      }

      &.discover-card--inaccessible {
        .discover-card__inaccessible-message {
          opacity: 1;
        }
      }
    }

  }

  @media screen and (width <= 850px) {
    --brightness-inactive: 100%;

    height: 350px;
    max-height: 75vh;

    &--featured {
      height: 450px;
    }

    .discover-card__inaccessible-message {
      opacity: 1;
    }

    &__title {
      font-size: 16px;
    }

    &__description {
      font-size: 14px;
    }
  }
}

.video {
  opacity: 0;

  &--loaded {
    background-color: black;
    opacity: 1;
  }
}

.splash-examples {
  align-items: center;
  background: #333;
  display: grid;
  gap: 30px;
  grid-template-columns: 3fr 1fr;
  padding: 30px;
  width: 100%;
}

.splash {
  align-items: center;
  box-shadow: 0 0 15px black;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;

  &--desktop {
    aspect-ratio: 16/9;
  }

  &--mobile {
    aspect-ratio: 1/2;

    .splash__content-container {
      max-width: 80%;
    }
  }

  &__image {
    display: flex;
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
  }

  &__content-container {
    display: flex;
    justify-content: center;
    max-width: 50%;
    z-index: 1;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }

  &__progress {
    background: #333;
    height: 3px;
    margin-top: 30px;
    width: 100%;
  }

  &__loader {
    display: flex;
    margin-top: 20px;
  }
}
