.cards {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 65px 20px;
  justify-content: center;
  border-radius: 5px;
  align-items: flex-end;
}

.card {
  --base-card-width: 300px;
  --transition-duration: 0.5s;
  color: white;
  width: var(--card-width);
  max-width: var(--card-width);
  transition: all var(--transition-duration) ease;
  cursor: pointer;
  will-change: transform;

  * {
    transition: all var(--transition-duration) ease;
    background-clip: padding-box;
  }

  /* Aspect Ratios */

  &--landscape {
    --card-width: var(--base-card-width);

    .card__image-container,
    .card__image {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    --card-width: calc(var(--base-card-width) - 75px);

    .card__image-container,
    .card__image {
      aspect-ratio: 1;
    }

    .card__image-container,
    .card__image-container::before,
    .card__image-container::after,
    .card__image {
      border-radius: var(--square-border-radius);
    }

    .card__text {
      text-align: center;
    }
  }

  &--portrait {
    --card-width: calc(var(--base-card-width) - 75px);

    .card__image-container,
    .card__image {
      aspect-ratio: 3/4;
    }

    .card__text {
      text-align: center;
    }
  }

  /* Effects */

  &.card--effect-desaturate {
    .card__image-container {
      filter: saturate(0%);
    }

    &:hover,
    &:focus-visible {
      .card__image-container {
        filter: saturate(100%);
      }
    }
  }

  &.card--effect-desaturate-image {
    .card__image {
      filter: saturate(0%);
    }

    &:hover,
    &:focus-visible {
      .card__image {
        filter: saturate(100%);
      }
    }
  }

  &.card--effect-desaturate-background {
    .card__image-container {
      background: black;
    }

    .card__image-container::before {
      filter: saturate(0%);
    }
  }

  /* Hover/Active State */

  &:hover,
  &:focus-visible {
    transform: scale3d(1.05, 1.05, 1);
    --background-gradient-angle: var(--background-gradient-angle--active);

    .card__image-container {
      background-color: var(--border-color--active);

      &::after {
        opacity: 1;
      }
    }
  }


  &__image-container,
  &__image {
    width: 100%;
    border-radius: var(--border-radius);
  }

  &__image-container {
    position: relative;
    background-color: var(--border-color--inactive);
    padding: var(--border-width);
    overflow: hidden;
    z-index: 0;
    display: flex;

    &::after,
    &::before {
      z-index: -1;
      position: absolute;
      inset: var(--border-width);
      border-radius: var(--border-radius);
      background: yellow;
      content: "";
      transition: opacity var(--transition-duration) ease;
    }

    &::after {
      background: linear-gradient(var(--background-gradient-angle--active), var(--background-color--active), var(--background-color-2--active));
      opacity: 0;
    }

    &::before {
      background: linear-gradient(var(--background-gradient-angle--inactive), var(--background-color--inactive), var(--background-color-2--inactive));
      opacity: 1;
    }
  }

  &__image {
    z-index: 1;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    padding: 4px;
    user-select: none;
  }

  &__title {
    font-weight: 700;
  }

  &__subtitle {
    color: #a6a6a6;
    font-size: 15px;
  }
}
